 @charset "utf-8";
/* //////////////////////////////// 全体の設定 ///////////////////////////////// */


img {                                                       /*////////////////////////////////// */
    max-width: 100%;                                        /*ブラウザに合わせて画像が縮小するように*/
}                                                           /*////////////////////////////////// */
                                                            
body {                                                      /*////////////////////////////////// */
    font-family:"Noto Sans JP", "Noto Serif JP", serif;     /*webフォントの設定*/
    color: #333333;                                       /*文字色の設定*/
    letter-spacing: .1rem;                                  /*文字間の設定 */
}                                                           /*////////////////////////////////// */
                                                            
.menu, .link, h2, h4, .sub, .red, .black,                   /*////////////////////////////////// */
input[type="submit"], footer {                              /*////////////////////////////////// */
    font-family:"Noto Serif JP", serif;                     /*webフォントの設定*/
}                                                           /*////////////////////////////////// */                
                                                            
h1 {                                                        /*////////////////////////////////// */
    width: 400px;                                           /*横幅の設定*/
    margin: 24px;                                           /*余白の設定*/
}                                                           /*////////////////////////////////// */
                                                            
h2 {                                                        /*////////////////////////////////// */
    font-size: 42px;                                        /*見出しの文字サイズ設定*/
    font-weight: bold;                                      /*太字に設定*/
    margin-bottom: 20px;                                    /*下側のみ余白を*/
}                                                           /*////////////////////////////////// */
                                                            
h3 {                                                        /*////////////////////////////////// */ 
    font-size: 28px;                                        /*見出し（コンセプトエリア）の文字サイズ設定*/
    margin-bottom: 24px;                                    /*下側のみ余白を*/
}                                                           /*////////////////////////////////// */
                                                            
h4 {                                                        /*////////////////////////////////// */
    font-size: 24px;                                        /*見出し（サービスエリア）の文字サイズを設定*/
    margin: 15px 0;                                         /*上下に余白を追加*/
}                                                           /*////////////////////////////////// */ 
                                                            
p, .menu{                                                   /*////////////////////////////////// */
    font-size: 16px;                                        /*文字サイズの設定 */
    line-height: 1.5rem;                                    /*行間の設定 */
}                                                           /*////////////////////////////////// */

.sub, .subRed {                                             /*////////////////////////////////// */
    display: flex;                                          /*左右の線を横並びに追加するためにflexを指定*/
    align-items: center;                                    /*縦方向を中央に*/
    justify-content: center;                                /*横方向を中央に*/
    margin-bottom: 48px;                                    /*サブタイトルの下側のみ余白を*/
    font-size: 16px;                                        
    height: 16px;
}                                                           /*////////////////////////////////// */

.sub::before,                                               /*subクラスの前後に疑似要素で線を追加*/
.sub::after {                                               /*beforで前に、afterで後ろに追加*/ 
    content:"";                                             /*何もない要素を追加する*/
    height: 1px;                                            /*背景色を線代わりに使うので高さを1pxに設定*/
    width: 50px;                                            /*線の幅を指定*/
    background-color: #333333;                            /*背景に色を付けて線の代わりに*/
    margin: 0 5px;                                          /*線と文字の間隔を調整*/
}                                                           /*////////////////////////////////// */

.subRed::before,                                            /*赤字のサブタイトル用疑似要素*/
.subRed::after {                                            /*beforで前に、afterで後ろに追加*/ 
    content:"";                                             /*何もない要素を追加する*/
    height: 1px;                                            /*背景色を線代わりに使うので高さを1pxに設定*/
    width: 50px;                                            /*線の幅を指定*/
    background-color: #B71B26;                            /*背景に色を付けて線の代わりに*/
    margin: 0 5px;                                          /*線と文字の間隔を調整*/
}                                                           /*////////////////////////////////// */
                                                            
.inner {                                                    /*////////////////////////////////// */
    max-width: 1020px;                                      /*左右に余白が欲しいコンテンツ部分の幅設定*/
    text-align: center;                                     /*要素の中身を中央に*/
    margin: 0 auto;                                         /*要素を中央に*/
}                                                           /*////////////////////////////////// */
                                                            
.inner p:not(.sub) {                                        /*////////////////////////////////// */
    text-align: left;                                       /*.sub以外のp要素だけ左寄せ */
}                                                           /*////////////////////////////////// */
                                                            
.inner section {                                            /*////////////////////////////////// */
    margin-bottom: 160px;                                   /*各セクションの下側のみ余白を設定*/
}                                                           /*////////////////////////////////// */


/* //////////////////////////////// ヘッダーの設定 ///////////////////////////////// */


.menu-btn, .menu-icon {                                     /*////////////////////////////////// */
    display:none;                                           /*ハンバーガーメニューのチェックボックスを非表示に*/
}                                                           /*////////////////////////////////// */
                                                            
.headerSec {                                                /*////////////////////////////////// */
    display: flex;                                          /*タイトルロゴとナビゲーションエリアの要素を横並びに*/
    justify-content: space-between;
    align-items: center;                                    /*上下中央揃え*/
}                                                           /*////////////////////////////////// */


/* //////////////////////////////// メインビジュアルの設定 ///////////////////////////////// */


.hero {                                                     /*////////////////////////////////// */
    margin-bottom: 160px;                                   /*画像下の余白を設定*/
}                                                           /*////////////////////////////////// */

.hero img {                                                 /*////////////////////////////////// */
    width: 100%;                                            /*widthに設定してブラウザで縮小されないように*/
    height: 80vh;                                           /*高さを画面の高さ８０％に設定*/
    object-fit: cover;                                      /*画像を範囲いっぱいにはみ出して表示*/
    object-position: center;                                /*画像の位置を中央に設定*/
}                                                           /*////////////////////////////////// */


/* //////////////////////////////// ナビゲーションの設定 ///////////////////////////////// */

.gMenu {
    width: 50%;
}

.menu {                                                     /*////////////////////////////////// */
    display: flex;                                          /*ページ内リンクを横並びに*/
    justify-content: space-around;    
}                                                           /*////////////////////////////////// */
                                                            
.menu li {                                                  /*////////////////////////////////// */
                                            /*リンク同士の左右の余白設定*/
    flex-shrink: 0;                                         /*初期設定だとブラウザに合わせて縮小するので固定*/
}                                                           /*////////////////////////////////// */
                                                            
.menu a:hover {                                             /*マウスカーソルを乗せたときの設定*/
    opacity: 0.7;                                           /*不透明度を設定70％*/
    color:#B71B26;                                        /*色を赤に*/
}                                                           /*////////////////////////////////// */

/* //////////////////////////////// サービスセクションの設定 ///////////////////////////////// */


.photo {                                                    /*////////////////////////////////// */
    display: flex;                                          /*写真を横並びに*/
    justify-content: space-around;
}                                                           /*////////////////////////////////// */
                                                            
.serviceList {                                              /*写真と説明文をひとくくりに*/
    width: 300px;
}                                                           /*////////////////////////////////// */
                                                            
.more {                                                     /*moreボタンの設定*/
    margin-top: 10px;                                       /*上側にのみ余白を*/
    text-align: right;                                      /*要素の中身を右側に*/
}                                                           /*////////////////////////////////// */
                                                            
.more:hover {                                               /*マウスカーソルを乗せたときの設定*/
    opacity: 0.8;                                           /*不透明度を設定80％*/
    transform: scale(1.2);                                  /*画像のサイズを１．２倍に*/
}                                                           /*////////////////////////////////// */


/* //////////////////////////////// 施工の流れセクションの設定 ///////////////////////////////// */


.subRed {                                                   /*施工の流れのみサブタイトルが赤なので調整*/
    color: #B71B26;                                       /*文字色を赤に*/
    margin-bottom: 30px;                                    /*他のサブタイトルと同じ余白を追加*/
}                                                           /*////////////////////////////////// */


.flowSec {                                                  /*////////////////////////////////// */
    text-align: center;                                     /*要素の中身を中央に*/
    background-color: #223E690D;                          /*背景色を指定の色に*/
    padding: 30px 0;                                        /*上下の余白を設定。marginだと背景が反映されない*/
    margin-bottom: 100px;                                   /*下側の余白をinnerと同じ値に設定*/
}                                                           /*////////////////////////////////// */
                                                            
.flowNgarare {                                              /*////////////////////////////////// */
    display: flex;                                          /*施工の流れのリストを横並びに*/
    justify-content: space-evenly;                          /*左右に余裕を持たせて等間隔に*/
    align-items: center;                                    /*上下中央に設定*/
    padding: 0 200px;                                       /*左右の余白調整*/
}                                                           /*////////////////////////////////// */
                                                            
.flowNgarare li {                                           /*////////////////////////////////// */
    display: flex;                                          /*説明のボックスと矢印アイコンを横並びに*/
    align-items: center;                                    /*要素を中央寄せに*/
}                                                           /*////////////////////////////////// */
                                                            
.sekou {                                                    /*説明文の装飾*/
    writing-mode: vertical-rl; 
    position: relative;
    color: #ffffff;                                       /*文字の色を変更*/
    background-color: #333333;                            /*背景色を設定*/
    border-radius: 25px;                                    /*要素の角を丸くする*/
    width: 60px;                                            /*横幅の設定*/
    height: 280px;                                          /*縦幅の設定*/ 
}                                                           /*////////////////////////////////// */

.sekou p {
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    font-size: 28px;
}

/* //////////////////////////////// 矢印画像の透明度設定 ///////////////////////////////// */
                                                            
.arrowColor60 {                                                  /*////////////////////////////////// */
    opacity: 0.6;                                           /*矢印の不透明度を設定60％*/
}                                                           /*////////////////////////////////// */
                                                            
.arrowColor70 {                                                  /*////////////////////////////////// */
    opacity: 0.7;                                           /*矢印の不透明度を設定70％*/
}                                                           /*////////////////////////////////// */
                                                            
.arrowColor80 {                                                  /*////////////////////////////////// */
    opacity: 0.8;                                           /*矢印の不透明度を設定80％*/
}                                                           /*////////////////////////////////// */
                                                            
.arrowColor90 {                                                  /*////////////////////////////////// */
    opacity: 0.9;                                           /*矢印の不透明度を設定90％*/
}                                                           /*////////////////////////////////// */



/* //////////////////////////////// よくあるご質問セクションの設定 ///////////////////////////////// */


.qaList {                                                   /*よくあるご質問の設定*/ 
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}                                                           /*////////////////////////////////// */
        
.qaListSet {
    margin-bottom: 48px;
}

.qaList dd {      
    transform-origin: bottom;                                          /*////////////////////////////////// */
    font-size: 20px;                                    
    text-align: left;                                       /*文字を左寄せに*/
    line-height: 1.5rem;                                    /*行間の設定 */

}                                                           /*////////////////////////////////// */
                                                            
.black, .red {                                              /*QAのマーク設定*/
    text-align: center;                                     /*文字を中央寄せに*/
    width: 52px;                                            /*マークのサイズ設定*/
    height: 52px;                                           /*マークのサイズ設定*/
    margin-right: 10px;                                     /*右側の余白設定*/
    font-size: 34px;                                      /*マーク内の文字サイズ設定*/
    color:#ffffff;                                        /*文字色の設定*/
    border-radius: 25px;                                    /*背景の角を丸く*/
    flex-shrink: 0;                                         /*背景が削れてしまうので固定*/
    padding: 3px 0 0 4px;                                       /* 丸の中の文字の位置を調整 */
}                                                           /*////////////////////////////////// */
                                                            
.black {                                                    /*QAのマーク設定（黒）*/
    background-color: #333333;                            /*背景を黒に*/
}                                                           /*////////////////////////////////// */
                                                            
.red {                                                      /*QAのマーク設定（赤）*/
    background-color: #B71B26;                            /*背景を赤に*/
}                                                           /*////////////////////////////////// */


/* //////////////////////////////// フォームの設定 ///////////////////////////////// */
                                                        
.contactSec {                                               /*////////////////////////////////// */
    padding: 30px 0;                                        /*上下方向の余白を設定*/
    text-align: center;                                     /*要素の中身を中央寄せに*/
    background-color: #223E6940;                          /*背景色の設定*/
    font-size: 20px;
}                                                           /*////////////////////////////////// */
                                                            
form {                                                      /*////////////////////////////////// */
    background-color: #ffffff99;                          /*背景色の設定*/
    height: 1000px;                                         
    max-width: 1020px;                                      /*フォーム部分の横幅を設定*/
    padding:  48px 0;
    margin: 0 auto;                                         /*要素を中央寄せに*/
}                                                           /*////////////////////////////////// */                                                           
                                                        
.set {
    display: flex;
    align-items: center;
    padding: 0 24px 0 16px;
    margin-bottom: 24px;
}

.toiawase dt {  
    text-align: right;
    width: 31%;
    margin-right: 12px;
}

.toiawase dd {
    text-align: left;
    width: 664px;    
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #ffffff;
    height: 52px;
}                

input[type="email"],
textarea {
    background-color: #ffffff;
    height: 52px;    
    width: 100%;
}    
input[type="radio"] {
    margin:0 2px 5px 2px;
}
    
.contactSec dt span {     
    display: inline-block;                                                 /*必須タグの設定*/
    font-size: 16px;                                       /*文字サイズ設定*/
    font-weight: bold;                                      /*太字に設定*/
    background-color: #B71B26;                            /*背景色の設定*/
    color: #ffffff;                                       /*文字色の設定*/
    letter-spacing: .1rem;
    line-height: 1;
    width: 58px;
    text-align: center;
    padding: 1px 0 3px 0;
    margin-left: 8px;
    border-radius: 5px;                                     /*角を丸く設定*/
    white-space: nowrap;                                    /*テーブル要素内の折り返しを禁止*/
}                                                           /*////////////////////////////////// */  

.set .yuubin input[type="text"] {
    width: 222px;
}

.set .zyusyo input[type="text"] {
    width: 100%;
}

textarea {
    background-color: #ffffff;
    height: 208px;
    margin-bottom: 24px;
} 

.toiawase .set .topPosition {
    align-self: flex-start;
}

.del {
    visibility: hidden;
}
/* //////////////////////////////// 送信ボタンの設定 ///////////////////////////////// */


.submitBotan {                                              /*送信ボタンの設定*/
    text-align: center;                                     /*文字の位置を中央に*/
    
}                                                           /*////////////////////////////////// */
                                                            
input[type="submit"] {                                      /*ボタンの設定*/
    background-color: #333333;                            /*背景色の設定*/
    color: #ffffff;                                       /*文字色の設定*/
    font-size: 20px;
    padding: 22px 50px;                                     /*余白でボタンのサイズを設定*/
}                                                           /*////////////////////////////////// */
                                                            
    input[type="submit"]:hover {                            /*カーソルを乗せたときの設定 */
    color: #333333;                                       /*文字色の設定*/
    background-color: #ffffff;                            /*背景色の設定*/
    animation-name: botanAnime;                             /*アニメーション選択*/
    animation-duration: .3s;                                /*再生時間を設定*/
    animation-timing-function: ease-in;                     /*遅く→速くの設定*/
    animation-iteration-count: 1;                           /*一回だけ再生*/
}                                                           /*////////////////////////////////// */
                                                           
@keyframes botanAnime {                                     /*ボタンのアニメーション設定*/
    0%{
        transform: translateY(0%px);
        transform-origin: top;
    } 
    50%{
        transform: translateY(-20px);
        transform: rotate(6deg);
        transform-origin: top;
    } 
    75%{
        transform: translateY(-5px);
        transform: rotate(-6deg);
        transform-origin: top;
    } 
    100%{
        transform: translateY(0px);
        transform-origin: top;
        }    
}



/* //////////////////////////////// トップに戻るボタンの設定 ///////////////////////////////// */


.topBotan {                                                 /*////////////////////////////////// */
    max-width: 100%;                                        /*親要素を横いっぱいに*/
    height: 219px;                                          /*高さの設定*/
    position: relative;                                     /*ボタンの配置のためpositionの設定*/
}                                                           /*////////////////////////////////// */
                                                            /*////////////////////////////////// */
.topArrow {                                                 /*矢印アイコンの設定*/
    position: absolute;                                     /*基点の変更*/
    right: 30px;                                            /*位置調整*/
    bottom: 0;                                              /*位置調整*/
    background-color: #333333;                            /*背景色の変更*/
    padding: 18px 9px;                                      /*ボタンのサイズを設定*/
    animation-name: botanTop;                               /*アニメーション選択*/
    animation-duration: 2s;                                 /*再生時間を設定*/
    animation-timing-function: ease-out;                    /*速く→遅くの設定*/
    animation-iteration-count: infinite;                    /*無限に再生*/
}                                                           /*////////////////////////////////// */

@keyframes botanTop {                                      /*topボタンのアニメーション設定*/
    0%{
        transform: translateY(0px);
        transform-origin: top;
    } 
    10% {
        transform: translateY(-15px);
        transform-origin: top;
    }
    25%{
        transform: translateY(-20px);
        transform-origin: top;
    } 
    40%{
        transform: translateY(-5px);
        transform-origin: top;
    } 
    45% {
        transform: rotate(-6deg);
        transform-origin: left bottom;
    }
    50% {
        transform: rotate(6deg);
        transform-origin: right bottom;
    }
    100%{
    transform: translateY(0px);
    transform-origin: bottom;
    }
}
                                                           

/* //////////////////////////////// フッターの設定 ///////////////////////////////// */


footer {                                                    /*////////////////////////////////// */
    color: #ffffff;                                       /*文字色の変更*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    vertical-align: middle;                                        /*上下の余白設定*/
    background-color: #333333;                            /*背景色の設定*/
}                                                           /*////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// RWD対応 ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */


@media screen and (max-width: 768px) {                      /*レスポンシブ対応*/
                                                            
/* //////////////////////////////// 全体の修正 ///////////////////////////////// */

    
    .gMenu, .menu-btn, .menu-icon{                          /*////////////////////////////////// */
        display: block;                                     /*ハンバーガーメニューの表示*/
    }                                                       /*////////////////////////////////// */

    .menu a:hover {                                         /*メニューの一部が反応しっぱなしになるのでhoverの打ち消し*/
        opacity: 1;                                         /*不透明度を100％に*/
        color:#333333;                                    /*色を他と同じ黒に*/
    }                                                       /*////////////////////////////////// */
                                                            
    .navSec {                                               /*////////////////////////////////// */
        display: none;                                      /*通常のナビゲーションメニューを非表示に*/
    }                                                       /*////////////////////////////////// */
                                                           
    h1 {                                                    /*タイトルサイズの調整*/
        width: 240px;                                         /*横幅を設定*/
        margin: 16px 12px;                                   /*余白の設定*/
    }                                                       /*////////////////////////////////// */

    h2 {                                                    /*////////////////////////////////// */
        font-size: 28px;                                    /*文字サイズの調整 */
        margin-bottom: 8px;                                /*下の余白調整 */
    }                                                       /*////////////////////////////////// */

    h3 {                                                    /*////////////////////////////////// */
        font-size: 20px;                                    /*文字サイズの調整 */
    }                                                       /*////////////////////////////////// */

    p {                                                     /*////////////////////////////////// */
        font-size: 14px;                                    /*文字サイズの調整 */
    }                                                       /*////////////////////////////////// */

    .inner section {                                        /*////////////////////////////////// */
        margin-bottom: 80px;                                /*各セクションの下側の余白を調整 */
    }                                                       /*////////////////////////////////// */

    .sub, .subRed {                                         /*////////////////////////////////// */
        margin-bottom: 24px;                                /*サブタイトルの下側の余白を調整*/
        font-size: 12px;
        height: 12px;
    }                                                       /*////////////////////////////////// */

                                                            /*////////////////////////////////// */
    .hero img {                                             /*メインビジュアルの調整*/
        width: 100%;                                        /*横幅を設定*/
        height: 480px;                                      /*高さを設定*/
        object-position: center ;                           /*トリミングで中央に*/
    }                                                       /*////////////////////////////////// */
                                                            
    .inner {                                                /*横幅の再調整*/
        padding: 0 12px;                                     /*余白の設定*/
        margin-bottom: 80px;
    }                                                       /*////////////////////////////////// */
    .hero {                                                     /*////////////////////////////////// */
        margin-bottom: 48px;                                   /*画像下の余白を設定*/
    }   

    /* ////////////////////////////////サービスセクションの修正 ///////////////////////////////// */
    
                                                            
    .photo {                                                /*////////////////////////////////// */
        display: block;                                     /*横並びを解除*/
        
    }                                                       /*////////////////////////////////// */
                                                            
    .photo dl {                                             /*////////////////////////////////// */
        margin-bottom: 48px;                                /*縦並びになったので余白の調整*/
    }                                                       /*////////////////////////////////// */

    .serviceList {                                          /*////////////////////////////////// */
        padding: 0;                                         /*写真padding打ち消し */
        width: 100%;
    }                                                       /*////////////////////////////////// */


    /* ////////////////////////////////FLOWの修正 ///////////////////////////////// */


    .flowNgarare {                                          /*////////////////////////////////// */
        padding: 0;                                         /*矢印との余白を調整*/
        flex-flow: column;                                  /*要素を縦並びに変更*/
        justify-content: center;                            /*左右中央寄せ*/
    }                                                       /*////////////////////////////////// */
                 
    .flowSec {
        margin-bottom: 80px;
    }
    .flowNgarare li {                                       /*////////////////////////////////// */
        justify-content: center;                            /*子要素を中央寄せ*/
        margin: 0 auto;                                     /*親用をを左右中央寄せ*/

    }                                                       /*////////////////////////////////// */
                                                            
    .sekou {                                                /*説明ボックスを縦から横へ*/
        writing-mode: horizontal-tb;
        width: 300px;                                       /*横幅の調整*/
        height: 32px;
    }                                                       /*////////////////////////////////// */
                
    .sekou p {
        font-size: 16px;
        align-self: center;
    }

    .flowNgarare img {                                         /*矢印のサイズ調整*/
        width: 16px;                                        /*高さの設定*/
        height: 32px;                                       /*横の設定*/
        transform: rotate(90deg);                           /*矢印を回転させて下方向に*/
    }                                                       /*////////////////////////////////// */


    /* ////////////////////////////////Q&Aの修正 ///////////////////////////////// */


    .black, .red {
        font-size: 20px;
        width: 36px;
        height: 36px;
    }

    .qaList dd {
        font-size: 16px;
        padding-top: 3px;
        
    }
    .qaList {
        display: flex;
        align-items: flex-start;
    }

    .qaListSet {
        margin-bottom: 24px;

    }
    



    /* ////////////////////////////////フォームの修正 ///////////////////////////////// */
    
    
    form {                                                  /*////////////////////////////////// */
        background-color: transparent;                      /*背景を透明に変更*/
        max-width: 100%;                                    /*幅を画面いっぱいに*/
        padding-top: 0;                                     /*paddingの打ち消し*/
        height: auto;
        padding-bottom: 0;
    }                                                       /*////////////////////////////////// */
                
    .contactSec {
        height: auto;
        padding-bottom: 0;
    }
    .set {
        display: flex;
        flex-wrap: wrap;
        padding: 0 16px;
    }                   
    
    .set dd {
        width: 100%;
        text-align: center;
    }
    .set dt {
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .radioB {
        font-size: 16px;
    }

    .toiawase .set .yuubin {
        text-align: left;
        margin-bottom: -24px;
        font-size: 14px;
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
        height: 30px;
    }

    .toiawase .set .yuubin input[type="text"] {
        width: 35%;
    }
    
    textarea {
        height: 120px;
        margin-bottom: 0;
    }

    .toiawase .set .del {
        display: none;
    }
    .contactSec dt span {                                                  /*////////////////////////////////// */  
        border-radius: 10px;                                /*必須タグの角を丸く*/
        font-weight: normal;                                /*文字の太さを普通に*/
        font-size: 10px;
        padding-top: 4px;
        height: 18px;
        width: 40px;
    }                                                       /*////////////////////////////////// */  
    .submitBotan {
        padding-bottom: 16px;
    }
    
    input[type="submit"] {                                      /*ボタンの設定*/
        background-color: #333333;                            /*背景色の設定*/
        color: #ffffff;                                       /*文字色の設定*/
        font-size: 16px;
        padding: 12px 20px;                                     /*余白でボタンのサイズを設定*/
    }   
    .radioB {
        padding-right: 20px;
        margin:0 6px;
    }
 /* ////////////////////////////////トップボタンの修正 ///////////////////////////////// */


    .topBotan {                                             /*////////////////////////////////// */  
        height: 126px;                                      /*余白の調整*/
    }                                                       /*////////////////////////////////// */  
                                                             
    .topArrow {                                             /*////////////////////////////////// */  
        transform: scaleX(.8);                              /*ボタンのサイズを調整*/
    }                                                       /*////////////////////////////////// */  


/* //////////////////////////////// フッターの設定 ///////////////////////////////// */


footer {                                                    /*////////////////////////////////// */

    height: 45px;
                            /*背景色の設定*/
}        


/* //////////////////////////////// ハンバーガーメニュー ///////////////////////////////// */

.menu {                                                     /*ハンバーガーメニューのために項目を修正 */
    display: block;                                         /*flexをblockに変えて縦並びに*/
}                                                           /*////////////////////////////////// */

/* メニューを画面上部に固定表示しています */
.gMenu {
    position: fixed;
    right: 0;
    top: 5px;
    width: 100%;
    z-index: 99;
  }
  /* メニューアイコンを画面右上に固定しています */
  .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 5px;
    height: 12px;
  }
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menu-icon .navicon {
    background: #B71B26; /* 色は自由に変更可能です */
    display: block;
    height: 1px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
  }
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #B71B26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
  }
  .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #f4f4f4;
  }
  /* チェックボックスは常に非表示です */
  .gMenu .menu-btn {
    display: none;
  }
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menu-btn:checked ~ .menu {
    max-height: 100vh; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
    padding-bottom: 100vh;                                                           /* パディングを追加して白部分を延長 */
  }
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
  
  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
}
